.MessageBox{data: {message: {id: message.id}}}
  .user1
    .user1-name 
      = message.shop.name
      .user1-createdup
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .user-text
    %p.Message__content
      = message.content

