p{
  font-size: 40px;
  font-weight: bold;
  margin-top: 50px;
  text-align: center;
}
p.Top-icon{
  .top-icon1{
    width:300px;
    height:230px;
    //margin-top: 50px;
    text-align: center;
  
  }
}
.Setting{
  form.SettingItem{
    display: flex;
    justify-content: center;
    height: 50px;
    .SettingItemForm__input{
      width:500px;
    }
    .SettingItemForm__button{
      height: 50px;
      width: 100px;
      background-color:rgb(222, 208, 178);
      border: none;
      border-radius: 50px;
      border: 1px solid black;
      margin-left:20px;
      color: black;
    }
  }
}
.twobtn{
  display: flex;
  justify-content:center;
  margin-top:20px;
  .Logout3{
    .Logout__btn3{
      background-color: rgb(231, 231, 230);
      border: 1px solid black;
      border-radius:50px;
      margin: 0px 20px;
      padding: 11px 10px 6px 15px;
      width: 120px;
      height: 50px;
      align-items: center;
      .logout-btn3{
        text-decoration: none;
        color: black;
        margin:15px;
        font-size: 12px;
        //font-weight: bold;
      }
    }
  }

  .Toppage2{
    .Toppage__btn2{
      background-color: rgb(231, 231, 230);
      border: 1px solid black;
      border-radius:50px;
      width: 120px;
      height: 50px;
      align-items: center;
      padding: 12px  0px 10px 20px;
      .toppage-btn2{
        text-decoration: none;
        color: black;
        margin:15px;
        font-size: 14px;
        //font-weight: bold;
        
      }
    }
  }
}


@media (max-width: 670px)
{
  p{
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
    text-align: center;
  }
  p.Top-icon{
    .top-icon1{
      width:300px;
      height:230px;
      //margin-top: 50px;
      text-align: center;
    
    }
  }
  .Setting{
    form.SettingItem{
      display: flex;
      justify-content: center;
      height: 50px;
      .SettingItemForm__input{
        width:500px;
      }
      .SettingItemForm__button{
        height: 50px;
        width: 100px;
        background-color:rgb(222, 208, 178);
        border: none;
        border-radius: 50px;
        border: 1px solid black;
        margin:0px 5px;
        color: black;
      }
    }
  }
  .twobtn{
    display: flex;
    justify-content:center;
    margin-top:20px;
    .Logout3{
      .Logout__btn3{
        background-color: rgb(231, 231, 230);
        border: 1px solid black;
        border-radius:50px;
        margin: 0px 20px;
        padding: 11px 10px 6px 15px;
        width: 120px;
        height: 50px;
        align-items: center;
        .logout-btn3{
          text-decoration: none;
          color: black;
          margin:15px;
          font-size: 12px;
          //font-weight: bold;
        }
      }
    }

    .Toppage2{
      .Toppage__btn2{
        background-color: rgb(231, 231, 230);
        border: 1px solid black;
        border-radius:50px;
        width: 120px;
        height: 50px;
        align-items: center;
        padding: 12px  0px 10px 20px;
        .toppage-btn2{
          text-decoration: none;
          color: black;
          margin:15px;
          font-size: 14px;
          //font-weight: bold;
          
        }
      }
    }
  }
 

}