
.AccountPage {
   width: 980px;
   margin: 60px auto;
   padding: 60px;
   background-color: #fff;
   border: 1px solid #ddd;
   border-radius: 5px;
   display: flex;
   justify-content: space-around;
  .AccountPage__title {
    color:black;
    h2{
      color: black;
      font-size:40px;
      text-align:center;
    }
    .image{
      width:200px;
      height:150px;
      margin-top: 30px;
      margin-left: 30px;
    }
  }
  .AccountPage__form{
    .FormBox{
      &__label--normal{
        font-weight:bold
      }
      &__input--normal{
      }
    }
    .Button_UserButton{
      background-color:rgb(222, 208, 178);
      border:1px solid black;
      margin: 20px 0px 0px 50px;
      size : 50px;
      padding: 10px;
      font-weight:bold;
      cursor: pointer;
      border-radius: 50px;


    }
  }
}

@media (max-width: 670px)
{
  .AccountPage {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding:50px 0px 0px 0px;
   .AccountPage__title {
     h2{
       color: black;
       font-size:40px;
       display: inline;
       margin: 100px 0px 0px 120px;
     }
     .image{
       width:200px;
       height:150px;
       margin: 30px 0px 20px 80px;
     }
   }
   .AccountPage__form{
     margin:0px 0px 0px 100px;
     .FormBox{
       &__label--normal{
         font-weight:bold
       }
       &__input--normal{
       }
     }
     .actions{
       text-align:center
     .Button_UserButton{
       background-color:rgb(222, 208, 178);
       border:1px solid black;
       margin-top: 20px;
       size : 50px;
       padding: 10px;
       font-weight:bold;
       cursor: pointer;
       border-radius: 50px;
       text-align: center;
 
     }
   }
  }
 }
}
  

