.content
  .content__upper
    .content__upper-icon
      = icon('fas', 'user-alt', class: 'icon')
    .content__upper__right
      .content__upper__right-name
        = link_to item.name,item_messages_path(item.id), method: :get, class: 'search-name'
      .content__upper__right__element
        .content__upper__right__element-industry