.content
  .content__upper
    %p.content__upper-icon
      =image_tag "box.png", alt: "該当商品", class: "contact__upper-icon-heart"
    .content__upper__right
      .content__upper__right-name
        = link_to item.name,item_messages_path(item.id), method: :get, class: 'search-name'

